<h1>Log in</h1>
<form class="form-horizontal" action="/login/" method="post">
	<div class="control-group">
		<label class="control-label" for="inputEmail">Username</label>
		<div class="controls">
			<%= text_field_tag :username, params[:username] %>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputPassword">Password</label>
		<div class="controls">
			<%= password_field_tag :password %>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<%= submit_tag "Sign in", class: "btn btn-large btn-primary" %>
		</div>
	</div>
</form>


