<%- @user.wall_posts.each do |post| -%>
	<div class="row-fluid" style="margin-bottom: 5px;">
		<img src="<%= post.sender.image %>" class="span2">
		<h3> <%= link_to post.sender.fullname , user_path( post.sender )%> </h3>

		<p><b> <%= post.title %> </b></p>
		<!-- <p> <%= post.content %> </p> -->
	</div>

<%- end -%>